@inject IAppVersionService AppVersionService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="version" content="@AppVersionService.AppVersion.ShortHash" />
    <meta name="deployment" content="@AppVersionService.AppVersion.DeployUtc.ToString("u")" />
    <title>@ViewData["Title"] - GitAppVersion.Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Git App Version Demo</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
